html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'SUSE', sans-serif;
    background-color: #000; 
}

/* Formulario */
.form-adm {
    background: rgba(94, 23, 235, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #5E17EB;
    text-align: center;
    max-width: 500px; /* Para que no sea demasiado grande en pantallas amplias */
    width: 100%;
    z-index: 2;
}

#label, #titulo {
    color: white;
}

.caja-producto {
    background-color: rgba(188, 179, 214, 0.2);
    padding: 1px;
    padding-left: 20px;
    border-radius: 10px;
}

