<% productos.forEach(producto => { %>
    <div class="producto">
        <div class="opciones">
            <!-- ESCUCHAR BOTON -->
            <button class="BtnAgregarCarrito">Añadir al carrito</button> 
        </div>
        <img  class="img-producto" src="/images/productos/<%= producto.imagen %>" alt="producto">
        <p><%= producto.titulo %></p>
        <div class="precio">
            <p><%= producto.precio %></p>
        </div>
    </div>
<% }) %>