html, body {
    height: 100%; 
}

body{
    background-image: url("/back/public/images/fondoCrear.jpg");
}  


/* Formulario */
.form-adm {
    background: rgba(94, 23, 235, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #5E17EB;
    text-align: center;
    max-width: 500px; 
    width: 70%;
    z-index: 2;

}

#titulo {
    color:#fdfdfd;
    text-align: left;
    margin-bottom: 3%;
}

#Ingresar, #Autocompletar{
    background-color: rgba(188, 179, 214, 0.2); 
    border: none;
    border-radius: 5px;
}

#Ingresar:hover, #Autocompletar:hover{
    background-color: #0a0a0a;
}

#botones {
    display: flex;
    gap: 2%;
}

#label {
    color: white;
    text-align: left; 
    margin-bottom: 1%;
    margin-top: 1%;
}

#password, #email {
    background-color: rgba(188, 179, 214, 0.2);
    margin-top: 1%;
}

#registro {
    margin-top: 10%;
    color:#ffffff;
}


