html, body {
    height: 100%; 
}

body{
  background-image: url("/back/public/images/fondoCrear.jpg");
} 

/* Formulario */
.form-adm {
    background: #5E17EB;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #5E17EB;
    text-align: center;
    max-width: 500px; 
    width: 70%;
    z-index: 2;
    margin: 2%;
}

#label, #titulo {
    color: white;
}

.caja-producto {
    background-color: rgba(188, 179, 214, 0.2);
    padding: 1px;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.total {
    background-color: rgba(188, 179, 214, 0.2);
    border: none;
    border-radius: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 2%;
    padding: 10px; 
  }
  
  #descargarPDF {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    align-items: left;
    padding: 5px 10px; 
    cursor: pointer; 
  }
  
  #descargarPDF:hover {
    background-color: #5E17EB;
    color: white;
  }
  
  #precioTotal{
    margin: 0; 
    align-items: right; 
    color: white;
  }
  
  #VolverHome {
    background-color: rgba(188, 179, 214, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  #VolverHome:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
  }

