html, body {
    height: 100%;
    background-color: beige;
}

h1 {
    text-align: start;
    margin-left: 10%;
    padding-top: 5%;
    font-size: 2rem;

}

/* Estilos del carrito de compras */
.cart-item {
    background-color: #f0f0f0; 
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; 
    width: 95%; 
    max-width: 100%; 
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px; 
}

.cart-item span {
    font-size: 1.1rem;
    color: #333;
}

/* Resumen del carrito y finalizar compra */
#cart-summary {
    background-color: #f0f0f0;
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%; 
    font-size: 1.2rem;
}

#cart-summary h5 {
    padding-top: 7%; 
    padding-bottom: 5%;
    text-align: center;
}

#cart-summary p , button {
    display: flex;
    margin: 0;
    padding: 0;
}

#checkout-button {
    background-color: #5E17EB; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #0a0a0a; 
}

/* Mensajes de carrito vacío */
#carrito p {
    font-size: 1.2rem;
    color: #888;
}

/* Estilo para el input de cantidad */
.product-quantity {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
}

/* Botón de eliminar producto */
.delete-product {
    cursor: pointer;
    padding: 5px;
}

.delete-product:hover {
    color: darkred;
}

/* Media Queries para pantallas medianas y grandes */
@media (min-width: 768px) {

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 0%;
    }

    h1 {
        margin-bottom: 0%;
    }

    #carrito {
        flex: 0 0 65%; 

    }

    #cart-summary {
        flex: 0 0 30%; 
        padding-top: 0%; 
        padding-left: 2%;
    }

    #checkout-button {
        margin-top: 2%;
        margin-right: 4%;
        width: auto; 
    }
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 767px) {
    .container {
        display: block; 
        margin-top: 0%;
        padding-top: 0%;
    }

    #carrito {
        margin-top: 0%;
        padding-top: 0%;
    }

    #cart-summary{
        width: 95%;
        margin-bottom: 5%;
    }

    #cart-summary h5 {
        padding-top: 2%; 
        padding-bottom: 2%;
        padding-left: 1%;
        text-align: start;
        width: 100%;
    }

    #cart-summary p {
        padding-left: 2%;

    }

    #cart-summary .price-and-button {
        display: flex;
        flex-direction: row; 
        gap: 20%; 
    }

    #checkout-button {
        width: auto;
    }
}
