/* ------------------ Productos-listados ------------------ */
.body-listado-productos{
    background-color:#f3e4fa;                      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada-listado-productos {
    height: 45vh;
    width: 100vw;
    background-image: url("/back/public/images/fondoProductos.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}



.portada-listado-productos img{
    height: 45vh;
    width: 100vw;
    object-fit:cover;
}

.grid-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    width: 70vw;                         
    gap: 10px;    
    margin: 2vh;   
    padding:1vh;
}


.producto{
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 5%;
    border-radius: 6px;
    border-style: hidden;    
}


.producto:hover{
    background-color: #cecece;
    cursor: pointer;
}


.producto:hover .opciones{
    visibility: visible;
}


.producto img{
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 2px solid #000000;
}

.producto p{
    font-size: 1.2em;
}

.precio{
    background-color: #000000;
    display: flex;
    justify-content: center;
    width: 60%;
    border:2px solid black;
    border-radius: 100px; 

}

.precio p{
    margin-bottom: 0%;
    margin-top: 0%;
    color: #ffffff;
    font-size: 1.3em;
}

.BtnAgregarCarrito {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    background-color: rgba(240, 78, 3, 0.8); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 100px; 
    cursor: pointer;
}

.producto:hover .BtnAgregarCarrito {
    opacity: 1; 
}

.selector-paginas{
    display: flex;
    justify-content: space-between;
}

.selector-paginas button{
    width: 12vw;
}

#pagina-anterior{
    border-style: hidden;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #000000;
    color: white;
    margin: 2%;
}

#pagina-siguiente{
    border-style: hidden;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #000000;
    margin: 2%;
    color: white;
}
#pagina-siguiente:hover, #pagina-anterior:hover{
    background-color: rgba(240, 78, 3, 0.8); 
}

